[Desktop Entry]
Type=Application
Name=Discord
Icon={HOME_DIR}/apps/Discord/discord.png
Exec={HOME_DIR}/bin/discord
Comment=Discord client
Categories=Communication;
Terminal=false
