[Desktop Entry]
Type=Application
Name=Obsidian
Icon={HOME_DIR}/apps/obsidian/obsidian.png
Exec={HOME_DIR}/bin/obsidian
Comment=Obsidian
Categories=Notes;
Terminal=false
MimeType=x-scheme-handler/obsidian;text/html;
